{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "pluginSearchDirs": false,
    "bracketSameLine": true,
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ]
}